

.background{ 
	-fx-background-color: #0b181a;
}



.myDialog{
    -fx-base: #000000;
}
.myDialog > *.button-bar > *.container{
	-fx-font-size: 14px;
    -fx-base: #000000;
}
.myDialog > *.label.content{
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.myDialog:header *.header-panel{
    -fx-base: #061539;
}
.myDialog:header *.header-panel *.label{
    -fx-font-size: 30 px;
    -fx-font-style: italic;
    -fx-base: #000000;
}



.root{
    -fx-base:#000000;
}
.root * TextField{
    -fx-background-color:#000000;
    -fx-text-fill:#ffffff;
}
 .TextArea{
    -fx-base:#000000;
}